body {
    margin: 0;
    background-color: lightslategray;
    text-align: center;
}

.container {
    max-width: 40rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 12px;
}

#grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

.square {
    width: 40px;
    height: 40px;
    border: solid 1px black;
    box-sizing: border-box;
    text-align: center;
    line-height: 40px;
    position: relative;
    font-weight: bold;
}

.square::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #c0c0c0;
    border: 3px outset #ececec;
    font-size: 0.75rem;
    text-align: center;
    pointer-events: auto;
}

.checked::after {
    content: none;
}

.revealed {
    background-color: #b0adad;
}

.revealed::after {
    content: none;
}

.bomb {
    background-color: orange;
}

/* .bomb::after {
    content: '💣';
    text-align: center;
    transform: translateY(0%);
} */

.flag::after {
    content: '🚩';
    text-align: center;
    line-height: 38px;
}

.checked {
    /* border: 1px solid green; */
    background-color: #b0adad;
}


.failed {
    background-color: #b00000;
}

.failed::after {
    background-color: #b00000;
}


.c-1 {
    color: blue;
}

.c-2 {
    color: green;
}

.c-3 {
    color: red;
}

.c-4 {
    color: #000080;
}

.c-5 {
    color: #800000;
}

.c-6 {
    color: #a800ad;
}

#hud {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #b0adad;
    font-weight: bold;
    margin-bottom: 1rem;
    position: relative;
    padding: 1rem;
}

#hud::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 3px outset #ececec;
    font-size: 0.75rem;
    text-align: center;
    pointer-events: auto;
}

#hud div {
    margin: 0 1rem;
}