body {
    margin: 0;
    background-color: lightslategray;
    text-align: center;
}

.container {
    max-width: 40rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 12px;
}

#grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

.square {
    width: 40px;
    height: 40px;
    border: solid 1px black;
    box-sizing: border-box;
}

.bomb {
    background-color: orange;
}